
Link {
}

a {
    text-decoration: none;
    margin-right: 20px;
}

.nav {
    color: black;
    font-size: 14px;
    font-weight: bolder;
}

.searchBtn {
    margin-left: 20px;
    border: none;
    outline: none;
    padding: 2px 8px 2px 8px ;
    font-size: 14px;
    font-weight: bolder;
}

@media screen and (max-width:459px) {
    .nav {
      color: white;
      font-size: 8px;
      font-weight: bolder;
    }
}
